

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--destructive));
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--destructive) / 0.7);
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--destructive)) transparent;
  }
  
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: hsl(var(--destructive));
    border-radius: 4px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--destructive) / 0.7);
  }
  